:root {
  --gray-400: #808080;
  --accent: #2879fe;
  --offwhite: #fcfcfc;
  --secondary: #dc3636;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


.app {
  font-family: 'Inter', sans-serif;

  .link {
    color: inherit;
    text-decoration: none;
  }
}