.products {
  max-width: 95vw;
  margin: 0 auto;
  display: flex;
  gap: 2rem;

  .left {
    flex: 1;
    position: sticky;
    height: 100%;
    top: 2rem;

    .filterItem {
      margin-bottom: 2.5rem;
      border-bottom: 1px solid #eee;
      padding-bottom: 1rem;
      width: 60%;

      h2{
        font-weight: 500;
        margin-bottom: .8rem;
        font-size: 1.25rem;
      }

      .inputItem {
        margin-bottom: 0.75rem;
        display: flex;
        gap: 8px;
      }

      #range {
        width: 70%;
      }

      .priceItem {
        font-size: 0.75rem;
      }
    }
  }

  .right {
    flex: 4;

    
  }
}
